* {
	box-sizing: border-box;
}

#header {
	text-align: center;
}

#header > .container {
	padding: 10px;
}

#boards {
	display: -webkit-flex; /* Safari */
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	flex-wrap: wrap;
}

.board {
	width: 250px;
	padding: 20px;
	margin: 10px 15px 50px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	box-shadow: 3px 4px gray;
	transition: transform 0.2s;	
	text-align: center;
	align-self: flex-start; 
}

.board a {
	text-decoration: none;
	color: #000;
}

#create, #create2 {
	background-color: #5aaf4b;
	color: white;
}

.board:hover {
	transform: scale(1.08);
	box-shadow: 5px 6px gray;
}

#create2 {
	display: none;
}

#createForm {
	border-top: 1px solid #fff;
	width: 100%;
	padding-top: 20px;
	transition: transform 1s;
}

#createForm label {
	font-size: 13px;
	font-weight: normal;
	color: lightgray;
}

#createForm input {
	color: #000;
}

#createForm button {
	background: none;
	border: none;
	margin: 20px 10px 10px;
	padding: 8px;
}

#createForm #submit {
	background: darkgray;
}

button:hover {
	transform: scale(1.03);
	box-shadow: 1px 2px gray;
}

#createForm input {
	width: 100%;
	padding: 5px;
}

#error {
	color: red;
	font-size: 14px;
   margin-top: 7px;

}


/*   board.php   */

#titleWrapper {
	display: block;
}

#boardTitle {
	background: #5aaf4b;
	padding: 5px 10px;
	margin: 0 20px 20px;
	text-align: center;
	color: #FFF;
}

#addList {
	background: #7ba4e5;
	padding: 5px 10px;
	margin: 0 50px 20px;
	text-align: center;
	color: #000;
	transition: all 0.5s ease;
}

#addListForm:hover, #addList:hover {
	transform: scale(1.03);
	box-shadow:  0 12px 24px rgba(0,0,0,0.29), 0 8px 8px rgba(0,0,0,0.43);
}

#addListForm {
	display: none;
	position: relative;
	width: 220px;
	padding: 15px 15px;
	margin: 0 20px 20px;
	background: rgba(255,255,255,0.45);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	align-items: center;
	transition: all 0.5s ease;
}

.close {
	position: absolute;
	right: -7px;
	top: -12px;
	font-size: 15px;
	padding: 5px;
	border-radius: 50%;
	background: gray;
}

#labName {
	width: 100%;
	padding: 5px;
}

#listError {
	color: red;
	font-size: 13px;
	padding: 3px;
	margin: 3px 3px 3px 0;
}

#lists {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-self: flex-start;
	padding: 20px;

}

.list {
	width: 250px;
	height: auto;
	margin: 15px;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.listTitle {
	text-align: center;
}

.listItems {
	width: 100%;
	padding: 5px;
	align-items: center;
}

.listItem > h3 {
	padding: 8px;
	margin: 0px 5px 10px 5px;
	background: rgb(202, 255, 222);
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.listItem > .formListItem {
	padding: 8px;
	margin: 0px 5px 10px 5px;
	border-radius: 5px;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.txtListItem {
	font-size: 16px;
	border-radius: 5px;
	border: 2.5px solid rgba(255, 255, 255, 0.8);
	width: 100%;
}
